%p#notice= notice
%h1= category.name

%table.table
  %tr
    %th Name
    %th Price

  - category.products.each do |product|
    %tr
      %td= link_to product.title, category_product_path(category.id, product.id)
      %td= product.price

%p
  = link_to 'New product', new_category_product_path(category.id), class: 'btn btn-primary'
  - if user_signed_in?
    = link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
  - else
    %b Sign in to edit

  = link_to 'Back', categories_path, class: 'btn btn-primary'
